body {
    background-color : steelblue;
    font-family: calibri;
}

#container {
    width: 60%;
    min-width: 500px;
    padding: 6%;
    margin: auto;
    background-color: white;
    
    color: darkorange;
}

#header,#footer {
    background-color: steelblue;
    padding: 30px;
    text-align: right;
    font-size: 25px;
    color: white;
}

h1 {
    color: white;
    padding: 0;
    margin: 0;
}

h2 {
    color: steelblue;
    margin-top : 40px;
    border-bottom: 2px solid steelblue;
}

h3 {
    color: steelblue;
    margin-top : 40px;
    font-weight: normal;
}



p {
    text-align : justify;
}

span {
    display: block;
    font-weight: bold;
    margin: 20px;
    padding: 5px 15px;
    border: solid 2px darkorange;
}

span:hover {
    color: steelblue;
    border: solid 2px steelblue;
}

a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color : darkorange;
}

a:hover {
    color: steelblue;
}

#footer a {
    font-size: 15px;
    font-style: italic;
    text-decoration: none;
    color : white;
}

#footer a:hover {
    font-style: none;
    font-weight: bold;
}

ul {
    list-style: circle;
    color: steelblue;
}

